In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"datasets_19_420_Iris.csv")

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [6]:
dic = {
    'Iris-versicolor': 1,
    'Iris-setosa': 2,
    'Iris-virginica': 3,
}
df['Specie-Value'] = df.Species.map(dic)

In [7]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Specie-Value
145,146,6.7,3.0,5.2,2.3,Iris-virginica,3
146,147,6.3,2.5,5.0,1.9,Iris-virginica,3
147,148,6.5,3.0,5.2,2.0,Iris-virginica,3
148,149,6.2,3.4,5.4,2.3,Iris-virginica,3
149,150,5.9,3.0,5.1,1.8,Iris-virginica,3

In [8]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Specie-Value
0,1,5.1,3.5,1.4,0.2,Iris-setosa,2
1,2,4.9,3.0,1.4,0.2,Iris-setosa,2
2,3,4.7,3.2,1.3,0.2,Iris-setosa,2
3,4,4.6,3.1,1.5,0.2,Iris-setosa,2
4,5,5.0,3.6,1.4,0.2,Iris-setosa,2
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,3
146,147,6.3,2.5,5.0,1.9,Iris-virginica,3
147,148,6.5,3.0,5.2,2.0,Iris-virginica,3
148,149,6.2,3.4,5.4,2.3,Iris-virginica,3
149,150,5.9,3.0,5.1,1.8,Iris-virginica,3

In [9]:
df = df.sample(frac=1)  #shuffle data for good accuracy
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Specie-Value
26,27,5.0,3.4,1.6,0.4,Iris-setosa,2
88,89,5.6,3.0,4.1,1.3,Iris-versicolor,1
47,48,4.6,3.2,1.4,0.2,Iris-setosa,2
92,93,5.8,2.6,4.0,1.2,Iris-versicolor,1
83,84,6.0,2.7,5.1,1.6,Iris-versicolor,1

In [10]:
x=df.loc[:,'SepalLengthCm':'PetalWidthCm']
x.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
26            5.0           3.4            1.6           0.4
88            5.6           3.0            4.1           1.3
47            4.6           3.2            1.4           0.2
92            5.8           2.6            4.0           1.2
83            6.0           2.7            5.1           1.6

In [11]:
y=df['Specie-Value']
y.head()

26    2
88    1
47    2
92    1
83    1
Name: Specie-Value, dtype: int64

In [12]:
y = pd.get_dummies(y)
y.head()

    1  2  3
26  0  1  0
88  1  0  0
47  0  1  0
92  1  0  0
83  1  0  0

In [13]:
y.drop_duplicates()

     1  2  3
26   0  1  0
88   1  0  0
128  0  0  1

In [47]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [48]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(4,)))
model.add(Dense(64, activation='relu', input_shape=(4,)))
model.add(Dense(3, activation='softmax'))

In [49]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 128)               640
_________________________________________________________________
dense_22 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_23 (Dense)             (None, 3)                 195
=================================================================
Total params: 9,091
Trainable params: 9,091
Non-trainable params: 0
_________________________________________________________________

In [52]:
# select loss function based on your problems

model.compile(optimizer=SGD(lr=0.01),
             loss='categorical_crossentropy',
             metrics=['acc'])

In [54]:
model.fit(x, y, epochs=30)

Train on 150 samples
Epoch 1/30
150/150 [==============================] - 0s 208us/sample - loss: 0.4110 - acc: 0.8867
Epoch 2/30
150/150 [==============================] - 0s 172us/sample - loss: 0.3952 - acc: 0.9400
Epoch 3/30
150/150 [==============================] - 0s 160us/sample - loss: 0.3999 - acc: 0.9333
Epoch 4/30
150/150 [==============================] - 0s 217us/sample - loss: 0.3924 - acc: 0.9133
Epoch 5/30
150/150 [==============================] - 0s 197us/sample - loss: 0.3855 - acc: 0.9000
Epoch 6/30
150/150 [==============================] - 0s 180us/sample - loss: 0.3785 - acc: 0.9133
Epoch 7/30
150/150 [==============================] - 0s 146us/sample - loss: 0.3702 - acc: 0.9467
Epoch 8/30
150/150 [==============================] - 0s 171us/sample - loss: 0.3650 - acc: 0.9733
Epoch 9/30
150/150 [==============================] - 0s 124us/sample - loss: 0.3668 - acc: 0.9267
Epoch 10/30
150/150 [==============================] - 0s 130us/sample - loss: 0.3641 - acc: 0.8867
Epoch 11/30
150/150 [==============================] - 0s 113us/sample - loss: 0.3550 - acc: 0.9533
Epoch 12/30
150/150 [==============================] - 0s 135us/sample - loss: 0.3562 - acc: 0.9267
Epoch 13/30
150/150 [==============================] - 0s 135us/sample - loss: 0.3410 - acc: 0.9533
Epoch 14/30
150/150 [==============================] - 0s 187us/sample - loss: 0.3406 - acc: 0.9133
Epoch 15/30
150/150 [==============================] - 0s 129us/sample - loss: 0.3392 - acc: 0.9467
Epoch 16/30
150/150 [==============================] - 0s 122us/sample - loss: 0.3323 - acc: 0.9600
Epoch 17/30
150/150 [==============================] - 0s 134us/sample - loss: 0.3285 - acc: 0.9467
Epoch 18/30
150/150 [==============================] - 0s 151us/sample - loss: 0.3263 - acc: 0.9533
Epoch 19/30
150/150 [==============================] - ETA: 0s - loss: 0.3112 - acc: 0.937 - 0s 139us/sample - loss: 0.3169 - acc: 0.9333
Epoch 20/30
150/150 [==============================] - 0s 97us/sample - loss: 0.3200 - acc: 0.9600
Epoch 21/30
150/150 [==============================] - 0s 118us/sample - loss: 0.3162 - acc: 0.9467
Epoch 22/30
150/150 [==============================] - 0s 115us/sample - loss: 0.3117 - acc: 0.9600
Epoch 23/30
150/150 [==============================] - 0s 122us/sample - loss: 0.3077 - acc: 0.9600
Epoch 24/30
150/150 [==============================] - 0s 98us/sample - loss: 0.3001 - acc: 0.9667
Epoch 25/30
150/150 [==============================] - 0s 190us/sample - loss: 0.3037 - acc: 0.9333
Epoch 26/30
150/150 [==============================] - 0s 115us/sample - loss: 0.3142 - acc: 0.9000
Epoch 27/30
150/150 [==============================] - 0s 127us/sample - loss: 0.3031 - acc: 0.9133
Epoch 28/30
150/150 [==============================] - 0s 136us/sample - loss: 0.2975 - acc: 0.9400
Epoch 29/30
150/150 [==============================] - 0s 90us/sample - loss: 0.2817 - acc: 0.9667
Epoch 30/30
150/150 [==============================] - 0s 86us/sample - loss: 0.2801 - acc: 0.9667

In [57]:
df['predict'] = y.columns.take(np.argmax(model.predict(df.loc[:,'SepalLengthCm':'PetalWidthCm']), axis=1))

In [58]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Specie-Value,predict
26,27,5.0,3.4,1.6,0.4,Iris-setosa,2,2
88,89,5.6,3.0,4.1,1.3,Iris-versicolor,1,1
47,48,4.6,3.2,1.4,0.2,Iris-setosa,2,2
92,93,5.8,2.6,4.0,1.2,Iris-versicolor,1,1
83,84,6.0,2.7,5.1,1.6,Iris-versicolor,1,3

In [59]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Specie-Value,predict
85,86,6.0,3.4,4.5,1.6,Iris-versicolor,1,1
89,90,5.5,2.5,4.0,1.3,Iris-versicolor,1,1
42,43,4.4,3.2,1.3,0.2,Iris-setosa,2,2
126,127,6.2,2.8,4.8,1.8,Iris-virginica,3,3
59,60,5.2,2.7,3.9,1.4,Iris-versicolor,1,1

In [63]:
df.head(20)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Specie-Value,predict
26,27,5.0,3.4,1.6,0.4,Iris-setosa,2,2
88,89,5.6,3.0,4.1,1.3,Iris-versicolor,1,1
47,48,4.6,3.2,1.4,0.2,Iris-setosa,2,2
92,93,5.8,2.6,4.0,1.2,Iris-versicolor,1,1
83,84,6.0,2.7,5.1,1.6,Iris-versicolor,1,3
128,129,6.4,2.8,5.6,2.1,Iris-virginica,3,3
111,112,6.4,2.7,5.3,1.9,Iris-virginica,3,3
53,54,5.5,2.3,4.0,1.3,Iris-versicolor,1,1
113,114,5.7,2.5,5.0,2.0,Iris-virginica,3,3
60,61,5.0,2.0,3.5,1.0,Iris-versicolor,1,1
80,81,5.5,2.4,3.8,1.1,Iris-versicolor,1,1
9,10,4.9,3.1,1.5,0.1,Iris-setosa,2,2
91,92,6.1,3.0,4.6,1.4,Iris-versicolor,1,1
72,73,6.3,2.5,4.9,1.5,Iris-versicolor,1,3
147,148,6.5,3.0,5.2,2.0,Iris-virginica,3,3
125,126,7.2,3.2,6.0,1.8,Iris-virginica,3,3
115,116,6.4,3.2,5.3,2.3,Iris-virginica,3,3
52,53,6.9,3.1,4.9,1.5,Iris-versicolor,1,1
45,46,4.8,3.0,1.4,0.3,Iris-setosa,2,2
38,39,4.4,3.0,1.3,0.2,Iris-setosa,2,2